@import '../../styles/all';
@import '../common/Popover/Popover';

.content {
  padding: $popover-horizontal-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.button {
  margin: $base-padding;
  padding: $button-padding;
  
  &:hover {
    background: $ui-background-hover;
  }
}

.recording {
  color: $red;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
} 